* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: "Trebuchet MS", sans-serif;
  background: pink;
  line-height: 1.7;
  font-size: 1.2rem;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}

#title,
#description {
  text-align: center;
  font-size: 1.5rem;
}

button#submit {
  padding: 0.5rem 1rem;
  background: pink;
  font-weight: 400;
  font-size: 1.5rem;
  border: 1px solid #000;
  border-radius: 5px;
}
.wrapper {
  box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
  background: #f9feff;
  padding: 1rem 5rem;
}

form p {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  margin-bottom: 2rem;
}

form p:last-child {
  display: block;
  text-align: center;
}

form p label {
  text-align: right;
}

@media only screen and (max-width: 768px) {
  form p {
    grid-template-columns: 1fr;
  }
  form p label {
    text-align: left;
  }
  form p input,
  #dropdown {
    font-size: 1.1rem;
  }
  body {
    line-height: 1.5;
  }
  .wrapper {
    padding: 1rem 2rem;
  }
}
